.swiper-button-next,
.swiper-button-prev{
  color: white;
}
.swiper-pagination-bullet{
  background-color: white;
}

@media (max-width: 760px) {
    .imgRes {
      display: flex; /* Asegúrate de que el contenedor sea un flex container para centrar la imagen */
       /* Ruta relativa a la imagen */
      background-size: cover; /* Ajusta la imagen para cubrir el contenedor */
      background-position: center; /* Centra la imagen */
      height: 500px; /* Altura del contenedor */
      justify-content: center; /* Centra el contenido horizontalmente */
      align-items: center; /* Centra el contenido verticalmente (si hay algún contenido) */
      width: 100%; /* Asegúrate de que el contenedor ocupe el ancho completo */
    }
  }